@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
   line-height: 1rem;
}
html,
body,
#root {
   height: 100%;
   width: 100%;
}
@theme {
   --color-primary: var(--c-primary);
   --color-primary-dark: var(--c-primary-dark);
   --color-secondary: var(--c-secondary);
   --color-background: var(--c-background);
   --color-background-dark: var(--c-background-dark);
   --color-text: var(--c-text);
   --color-card: var(--c-card);
   --color-border: var(--c-border);
   --color-input: var(--c-input);
   --color-danger: var(--c-danger);
   --color-danger-content: var(--c-danger-content);
   --color-success: var(--c-success);
   --color-warning: var(--c-warning);
   --color-info: var(--c-info);
}

.ant-segmented-item-label[aria-selected="true"] {
   border: 1px solid var(--color-primary);
   border-radius: 4px;
}

[area-pressed="true"] {
   opacity: 0.2;
}
